version: '3'

services:
  django:
    build:
      context: .
      dockerfile: ./compose/django/Dockerfile-dev
    command: python manage.py runserver 0.0.0.0:8080
    environment:
      - LC_ALL=C.UTF-8
      - LANG=C.UTF-8
      - USE_DOCKER=yes
    image: djcorecap:dev
    ports:
      - "8080:8080"
    volumes:
      - .:/djcorecap
